/*This css file does all the css. Feel free to make seperate ones but this one is by defualt importted after running create-react-app to the index.js file*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

.container{
  width: 100vw;
  height: 100vh;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
